<div ng-if="notLoggedMessage">
    <h3>Внимание!</h3>
    <p>Для просмотра истории своих заказов, Вам необходимо зарегистрироваться!</p>
</div>
<div ng-if="!notLoggedMessage">
    <div class="center-align" ng-if="!orderListLoaded">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="orderListLoaded" class="row">

        <div class="col s12 m6">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Мои заказы ({{orders.length}})</h4></li>
                <li class="collection-item avatar" data-ng-repeat="singleOrder in orders| orderBy: '-ordered'"
                    ng-class="{'green lighten-4':isNew(singleOrder)}">
                    <img src="{{singleOrder.recipe.image}}" alt="" class="circle">
                    <span class="title"><strong>{{singleOrder.recipe.title}}</strong></span>
                    <p>
                    <div ng-switch on="singleOrder.state">
                        <span ng-switch-when="0">Заказано</span>
                        <span ng-switch-when="1">Готовится</span>
                        <span ng-switch-when="2">Доставляется</span>
                        <span ng-switch-when="3">При доставке возникли сложности</span>
                        <span ng-switch-when="4">Доставлено</span>
                    </div>
                    Заказано: {{singleOrder.ordered | date:'HH:mm:ss dd.MM.yyyy'}}</p>
                </li>
            </ul>
        </div>

    </div>
</div>