doctype html
html(ng-app='CafeApp')
    head
        title= title
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        div(ng-view)
