/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.price {
    text-shadow: 0 0 4px #222;
}

.image-crop {
    max-height: 200px;
    overflow: hidden;
}

.thumb {
    max-height: 32px;
    overflow: hidden;
}

.thumb img {
    max-width: 32px;
}
.card-content {
    height: 120px;
    max-height: 120px;
}

.card .card-image img {
    min-height: 200px;
}

.card .card-action {
    border-top: 1px solid rgba(160,160,160,0.2);
}

.card-action > .row {
    margin-bottom: 0px;
}

