<div class="center-align" ng-if="!orderListLoaded">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<div ng-if="orderListLoaded" class="row">
    <div class="col s12 m6">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Новые заказы ({{newOrders.length}})</h4></li>
            <li class="collection-item avatar"
                data-ng-repeat="singleOrder in orders | orderBy: '-ordered' | filter: {state: 0} as newOrders"
                ng-class="{'red lighten-4':isNew(singleOrder)}">
                <img src="{{singleOrder.recipe.image}}" alt="" class="circle">
                <span class="title"><strong>{{singleOrder.recipe.title}}</strong></span>
                <p>{{singleOrder.client.name}}<br>
                   Создан:  {{singleOrder.ordered | date:'HH:mm:ss dd.MM.yyyy'}}</p>
                <a ng-click="changeState(singleOrder._id, 1)" class="secondary-content btn-flat"
                   title="Приступить к приготовлению"><i class="material-icons">play_arrow</i></a></li>
        </ul>
    </div>
    <div class="col s12 m6">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Заказы в обработке ({{runnedOrders.length}})</h4></li>
            <li class="collection-item avatar"
                data-ng-repeat="singleOrder in orders | orderBy: '-changed' | filter: {state: 1} as runnedOrders"
                ng-class="{'red lighten-4':isNew(singleOrder)}">
                <img src="{{singleOrder.recipe.image}}" alt="" class="circle">
                <span class="title"><strong>{{singleOrder.recipe.title}}</strong></span>
                <p>{{singleOrder.client.name}}<br>
                   Изменен: {{singleOrder.changed | date:'HH:mm:ss dd.MM.yyyy'}}</p>
                <a ng-click="changeState(singleOrder._id, 2)" class="secondary-content btn-flat"
                   title="Отправить клиенту"><i class="material-icons">done</i></a></li>
        </ul>
    </div>
</div>
