<div ng-show="!isEmptyCart()" class="animate-show-hide">
    <table class="striped highlight">
        <thead>
        <tr>
            <th colspan="2">Наименование</th>
            <th class="center-align">Количество, шт</th>
            <th class="center-align">Цена, Q</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="cartItem in shopCart">
            <td>
                <div class="thumb"><img src="{{cartItem.item.image}}" alt="" class="circle"></div>
            </td>
            <td><a ng-href="#!/recipes/{{cartItem.item._id}}">{{cartItem.item.title}}</a></td>
            <td class="center-align">{{cartItem.quantity}}</td>
            <td class="center-align">{{cartItem.item.price}}</td>
            <td><a class="waves-effect waves-light" title="Удалить из корзины"
                   ng-click="removeFromCart(cartItem.item._id)" class="secondary-content"><i class="material-icons">delete</i></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <td colspan="2">Итого:</td>
        <td></td>
        <td class="center-align">{{calcCartAmount()}}</td>
        <td></td>
        </tfoot>
    </table>
    <a class="waves-effect waves-light btn red" title="Очистить корзину" ng-click="clearCart()"
       class="secondary-content"><i class="material-icons">clear_all</i>Очистить корзину</a>
    <a class="waves-effect waves-light btn" ng-class="getIncompleteSumBalance()>0 ? 'disabled':''" title="Заказать"
       ng-click="orderCart()" class="secondary-content"><i
            class="material-icons">done</i>Заказать</a>
    <span ng-show="getIncompleteSumBalance()>0" class="red-text animate-show-hide">
        Недостаточно средств для заказа, пожалуйста, пополните счет на {{getIncompleteSumBalance()}} Q!
    </span>
</div>
<div ng-show="isEmptyCart()" class="animate-show-hide">
    <h3>Ваша корзина пуста.</h3>
    <p>Чтоб осуществить заказ в нашем кафе, Вам стоит открыть наше <a ng-href="#!/recipes">меню</a> и выбрать в нем
        что-нибудь вкусненькое!</p>
</div>