<div class="red lighten-4" ng-if="!loggedIn">
    <div class="section">
        <div class="container">
            <form class="col s10">
                <div class="row valign-wrapper">
                    <div class="input-field col s4">
                        <h5>Дорогой посетитель!</h5>Для выбора и заказа блюд в нашем кафе, Вам необходимо
                        зарегистрироваться.
                    </div>
                    <div class="input-field col s2">
                        <input id="name" type="text" class="validate" ng-model="profile.name">
                        <label for="name" data-error="Укажите имя">Name</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="email" type="email" class="validate" ng-model="profile.email">
                        <label for="email" data-error="Не корректный адрес"
                               data-success="Корректный адрес">Email</label>
                    </div>
                    <div class="input-field col s3">
                        <a class="waves-effect waves-light btn" ng-click="$ctrl.login(profile)"><i class="material-icons">perm_identity</i>Регистрация</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
<div ng-if="loggedIn" class="blue lighten-4">
    <div class="section">
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s9">
                    Рады приветствовать Вас, <strong id="profile-name">{{ profile.name }}</strong>.
                    На Вашем счету <strong id="profile-balance">{{ profile.balance }}</strong> Q</div>
                <div class="col s3">
                    <a class="waves-effect waves-light btn" ng-click="$ctrl.recharge()"><i class="material-icons">credit_card</i>Пополнить счет</a>
                </div>
            </div>
            </div>
    </div>
</div>