<div class="center-align" ng-if="!recipes.loaded">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<div ng-if="recipes.loaded">
    <div class="row">
        <div class="input-field col s12">
            <input id="query" data-ng-model="Query">
            <label for="query"><i class="material-icons">search</i></label>
        </div>
    </div>
    <div class="row">
        <div data-ng-repeat="singleRecipe in recipes.items | filter:Query" class="col s12 m4">
            <div class="card big hoverable">
                <div class="card-image">
                    <div class="image-crop">
                        <a ng-href="#!/recipes/{{singleRecipe._id}}"><img src="{{ singleRecipe.image }}"></a>
                    </div>

                    <a class="btn-floating halfway-fab waves-effect waves-light red" title="Заказать"
                       ng-click="addToCart(singleRecipe)"><i class="material-icons">shopping_basket</i></a>
                </div>
                <div class="card-content">
                    <h5><a ng-href="#!/recipes/{{singleRecipe._id}}">{{ singleRecipe.title }}</a></h5>
                </div>
                <div class="card-action">
                    <div class="row">
                    <span class="col s6" rating-stars rating="singleRecipe.rating / singleRecipe.rateNumber"></span>
                    <span class="col s6 right-align">{{ singleRecipe.price }} Q</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
