<i class="tiny material-icons {{ thisRating < 1 ? 'grey-text' : 'red-text' }}">star</i>
<i class="tiny material-icons {{ thisRating < 2 ? 'grey-text' : 'red-text' }}">star</i>
<i class="tiny material-icons {{ thisRating < 3 ? 'grey-text' : 'red-text' }}">star</i>
<i class="tiny material-icons {{ thisRating < 4 ? 'grey-text' : 'red-text' }}">star</i>
<i class="tiny material-icons {{ thisRating < 5 ? 'grey-text' : 'red-text' }}">star</i>