<div class="row">
    <div class="col s4 card-image">
        <img class="materialboxed hoverable" data-caption="{{recipe.title}}" width="100%" src="{{ recipe.image }}">
    </div>
<div class="col s8">
    <h4>{{ recipe.title }}</h4>
    <small rating-stars rating="recipe.rating / recipe.rateNumber" />
    <p>Стоимость:
    <span><strong>{{recipe.price}} Q</strong></span></p>
    <a class="waves-effect waves-light btn" ng-click="addToCart(recipe)"><i class="material-icons left">shopping_basket</i>В корзину</a>
    <h5>Ингредиенты:</h5>
    <ul class="collection">
        <li class="collection-item" data-ng-repeat="ingredient in recipe.ingredients track by $index">{{ingredient}}</li>
    </ul>
</div>
</div>
<script>
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });
</script>